<form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addLink()" class="w3-container w3-theme w3-padding-large w3-card-4 w3-margin">
    <p>
        <label class="w3-large">Title</label>
        <input formControlName="title" class="w3-input" type="text" placeholder="Google">
    </p>
    <p>
        <label class="w3-large">Description</label>
        <input formControlName="desc" class="w3-input" type="text" placeholder="A place to Google things">
    </p>
    <p>
        <label class="w3-large">Link/URL</label>
        <input formControlName="url" class="w3-input" type="text" placeholder="http://google.com">
    </p>
    <button class="w3-btn w3-theme-light" type="submit">Add</button>
</form>