
<div *ngFor="let group of groups | async" class="w3-row">
    <masonry [options]="myOptions">
        <masonry-brick *ngFor="let link of group.links" class="w3-col s12 m6 l3 w3-animate-opacity">
            <div class="w3-padding w3-margin w3-hover-shadow w3-card-2">
                <a href="{{link.url}}" target="_blank" style="text-decoration:none">
                    <div>
                        <h3>{{link.title}}</h3>
                        <p>{{link.desc}}</p>
                    </div>
                </a>
                <p *ngIf="user" >order: {{link.order}}</p>
                <button class="w3-btn w3-hover w3-theme" *ngIf="user" (click)="removeLink(link)">Remove</button>
                <button class="w3-btn w3-hover w3-theme" *ngIf="user" [routerLink]="['/update/'+ group._id + '/' + link._id]">Update</button>
            </div>
        </masonry-brick>
    </masonry>
</div>
<br><br><br>
<div class="w3-content">
    <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addLink()" class="w3-theme w3-padding-large w3-card-4 w3-margin">
        <div class="w3-display-container">
            <div class="w3-theme-light w3-display-middle w3-center w3-card-4 w3-padding-small w3-animate-opacity" style="top: -32px; z-index: 1">
                <h3 class="w3-xxlarge">Add a card</h3>
                <h5><i>Add links to the current group</i></h5>
            </div>
        </div>
        <p>
            <label class="w3-large">Title</label>
            <input formControlName="title" class="w3-input" type="text" placeholder="Google">
        </p>
        <p>
            <label class="w3-large">Description</label>
            <input formControlName="desc" class="w3-input" type="text" placeholder="A place to Google things">
        </p>
        <p>
            <label class="w3-large">Link/URL</label>
            <input formControlName="url" class="w3-input" type="text" placeholder="http://google.com">
        </p>
        <p>
            <label class="w3-large">Order</label>
            <input formControlName="order" class="w3-input" type="text" placeholder="0">
        </p>
        <button class="w3-btn w3-hover w3-theme-light" type="submit">Add</button>
    </form>
</div>